addon-mod-url-index {
    ion-list {
        margin-bottom: 5px !important;
        ionic3-star-rating {
            padding-right: 5px !important;
            ion-icon {
                font-size: 2.5rem !important;
            }
        }
    }
}
core-ats-comment {
    .row {
        background-color: $white;
    }
    
}